<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <div class="container">
      {{ apiName }}
    </div>
  </div>
</template>

<script>
import { API } from 'aws-amplify'

export default {
  name: 'App',
  methods: {
    getName () {
      return API
        .get("demo2api", "/name", {})
        .then((result) => {
          console.log("API returned:" + result);
          this.apiName = result["message"];
        })
        .catch((error) => {
          console.error("API error: " + error);
          this.apiName = error;
        });
    }
  },
  mounted() {
    this.getName();
  },
  data () {
    return {
      apiName: "Place Holder",
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
